---
layout: default
---

<div class="home">

  <p>
    Blog bem despretensioso, com posts ocasionais sobre qualquer assunto,
    mas principalmente jogos.
  </p>

  {% assign latest = site.posts.first %}
  {% if latest %}
    <hr />

    <h2>Último post</h2>

    <h1 class="post-title p-name">
      <a class="post-link u-url" href="{{ latest.url | relative_url }}">
        {{ latest.title }}
      </a>
    </h1>

    <p class="post-meta">
      <time class="dt-published" datetime="{{ latest.date | date_to_xmlschema }}">
        {{ latest.date | date: "%d/%m/%Y" }}
      </time>
    </p>

    <div class="post-content e-content">
      {{ latest.content }}
    </div>

    <hr />

<h2>Posts anteriores</h2>
<ul class="post-list">
  {% for post in site.posts offset:1 limit:10 %}
    <li class="post-item">
      <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

  {% else %}
    <p>Ainda não há posts.</p>
  {% endif %}

</div>
