---
---

@import "minima";

/* Dark mode automático */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #e6e6e6;
  }

  a {
    color: #8ab4f8;
  }

  header, footer {
    background-color: #111;
  }
}

/* Limpar duplicações no rodapé */
.site-footer .site-title {
  display: none;
}
